<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include ('cabecera.html') %}
    <h1>AQUI VAN LOS ENLACES PARA REGISTRAR FUNCIONARIO Y VER DATOS DEL USUARIO</h1>
    <li class="nav-item">
        <a class="nav-link" href="/adminUser">Ver Usuarios</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/registro">Registro funcionarios</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/adminCandidato">Registro Candidatos</a>
    </li>

    
</body>
</html>